.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	column-gap: 10px;
	background: transparent;
	color: inherit;
	border: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 6px;
	transition: background 0.2s ease-in-out;
	padding: 3px 6px;

	&.disabled {
		cursor: no-drop;
		&:hover {
			background: inherit;
		}
	}

	&:hover {
		background: #232328;
	}
}

