.footer {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding: 40px 0;
	width: 100%;
	margin: 0 auto;
	max-width: 1220px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;

	span {
		cursor: default;
	}

	&.center {
		justify-content: center;
	}
}

