.footer {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding: 80px 0 40px;
	width: 100%;
	margin: 0 auto;
	max-width: 1220px;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
    cursor: default;
}

