.table_wrapper {
	margin: 0 auto;
	max-width: 1232px;
	display: flex;
	justify-content: center;
	position: relative;
	table {
		display: table;

		width: 100%;
		max-width: 1220px;

		border-collapse: collapse;
		border-style: hidden;

		thead {
			th {
				text-align: start;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				padding: 30px 0px;
				width: 25%;

				span {
					&.up,
					&.down {
						color: #98ec65;
					}
				}

				&:last-child {
					float: right;
					span {
						justify-content: flex-end;
					}
				}
			}
		}

		tbody {
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			tr {
				cursor: pointer;
				transition: all 0.2s;
				border-bottom: 1px solid #3f3c49;

				&.row__add {
					td {
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;

						color: #8e8e8e;
					}
				}

				td {
					// width: 25%;
					color: #ececec;
					padding: 20px 6px;
					a {
						color: #ececec;
						&:hover {
							color: #98ec65;
						}
					}
					&:last-child {
						text-align: end;
					}
					span {
						&:hover {
							color: #98ec65;
						}
					}
				}

				&:hover {
					background-color: #232328;
				}
			}
		}
	}
}

