.table {
	display: table;
	width: 100%;
	margin: 0 auto;
	max-width: 1232px;

	border-collapse: collapse;
	border-style: hidden;

	position: relative;

	.sort_popup {
		position: absolute;
		right: 0;
		top: 60px;
	}

	thead {
		th {
			text-align: start;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			padding: 30px 0px;

			span {
				&.up,
				&.down {
					color: #98ec65;
				}
			}

			&:last-child {
				float: right;
				span {
					justify-content: flex-end;
				}
			}
		}
	}

	tbody {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		tr {
			cursor: pointer;
			transition: all 0.2s;

			td {
				color: #ececec;
				border-bottom: 1px solid #3f3c49;
				padding: 30px 6px;
				a {
					color: #ececec;
					&:hover {
						color: #98ec65;
					}
				}
				&:last-child {
					text-align: end;
				}
			}

			&:hover {
				background-color: #232328;
			}
		}
	}
}

