* {
	box-sizing: border-box;
}
body,
#__next {
	margin: 0;
	background: #100f13;
	color: #dcdcdc;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;

	.popup__show {
		opacity: 1;
		visibility: visible;
	}

	.not_found {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		row-gap: 10px;
		height: 100%;

		h2 {
			margin: 0 0 30px;
		}

		&__btn {
			cursor: pointer;
			color: #ececec;
			background: transparent;
			border: 1px solid #98ec65;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;

			padding: 10px 20px;
			gap: 10px;

			font-family: inherit;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			transition: all 0.2s;

			&:hover {
				background: #98ec65;
				color: #100f13;
			}
		}

		a {
			transition: 0.2s;
			color: #ececec;
			&:hover {
				color: #98ec65;
			}
		}

		&__servers {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-family: inherit;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			height: 100%;
			row-gap: 20px;

			h2 {
				margin: 0;
			}

			samp {
				padding: 3px 6px;
				border-radius: 6px;
				background: #232328;
			}

			a,
			.link {
				text-decoration: underline;
				cursor: pointer;
				transition: 0.2s;
				color: #ececec;
				&:hover {
					color: #98ec65;
				}
			}
		}
	}
}

.sign {
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 73px 0;
		column-gap: 16px;
	}

	&__page {
		display: flex;
		justify-content: center;
	}
}

