.login {
	$this: &;

	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	form {
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: 80px;
		align-items: center;
		width: 100%;
		max-width: 420px;
		// box-shadow: 0 0 10px 2px #98ec65;
		padding: 30px 20px;
		border-radius: 6px;

		> h1 {
			margin: 0;
			font-style: normal;
			font-weight: 300;
			font-size: 32px;
			line-height: 100%;
		}

		.login__inputs {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
			&-item {
				> input {
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 24px;

					color: #ffffff;

					padding: 10px 0;

					border: none;
					border-bottom: 1px solid #fff;

					background: transparent;
					outline-style: none;

					transition: 0.3s;

					&:focus {
						border-bottom: 1px solid #98ec65;
					}
				}
				position: sticky;
				.login__placeholder {
					position: absolute;
					top: -10px;

					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 24px;

					color: #838383;

					transition: 0.3s;
					z-index: -1;

					&_active {
						top: -25px;

						font-size: 14px;
						line-height: 17px;

						color: #838383;
					}
				}
			}
		}

		> input {
			background-color: #98ec65;
			border-radius: 6px;
			padding: 15px 52px;
			border: none;
			cursor: pointer;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 30px;
			color: #000000;
		}
	}

	&__error {
		position: absolute;
		bottom: 110px;
	}
}
